:host {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 24px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  color: white;
}

:host.first {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host.last {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  width: 8px;
  cursor: ew-resize;
}
